<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Vet Doctors</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="com.example.petClinic.model.Vet"*/-->
<h1 th:text="'List of Vet Doctors'">Vet List</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Second Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet:${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Joe</td>
        <td th:text="${vet.lastName}">Mama</td>
    </tr>
    </tbody>
</table>
</body>
</html>